/* Slider */

#body{
    background-color: #FFF1DC;
    margin: 0 auto;
    font-family: 'Lato';
    color: #333;
}
.slider{
    max-width: 80vw;
    border-radius: 20px;
    margin: auto;
    overflow: hidden;
    margin-top: 30vh;
    
    
    
}
.slider ul {
    padding: 0;
    display: flex;
    width: 400%;
    animation: cambio 20s infinite alternate linear;
}
.slider li {
    width: 100vw;
    list-style: none;
}
.slider img {
    
    width: 100%;
}

@keyframes cambio {
    0% { margin-left: 0;}
    20% { margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

.botonesmain{
    padding-top: 3%;
    padding-bottom: 3%;
}
.botonesmain button{
    padding: 20px;
    border-radius: 20px;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    border: none;
    cursor: pointer;
    position: relative;
    left: 0%;
    z-index: 2;
    box-shadow: 6px 6px 12px #0074c7;
    
     
}
@media screen and (max-width: 800px){
    .botonesmain{
        scale: 60%;
    }

}
