/* Globales */
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* FOOTER */
#body{
    background-color: #FFF1DC;
    margin: 0 auto;
    font-family: 'Lato';
    color: #333;
}
footer{
    background-color: #3A98B9;
    position: static;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}
footer ul{
    list-style-type: none;
}

.footer-center ul{
    align-items: center;
}
.footer-center h2{
    justify-content: center;
    align-items: center;

}

