/* FOOTER */
#Footer{
    background-color: #FFF1DC;
    margin: 0 auto;
    font-family: 'Lato';
    color: #333;
    
}
footer{
    background-color: #3A98B9;
    position: static;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    
    
}
footer ul{
    list-style-type: none;
}
.footer-left h1{
    padding: 10%;
}
.footer-left{
    padding-top: 2%;
    padding-bottom: 2%;
}
.footer-center{
    padding-top: 2%;
    padding-bottom: 2%;
}
.footer-center ul li a{
    text-decoration: none;
    color: black;
}
.footer-center ul{
    align-items: center;
}
.footer-center h2{
    justify-content: center;
    align-items: center;

}
.footer-right{
    padding-top: 2%;
    padding-bottom: 2%;
}
.footer-right ul li a{
    color: black;
    text-decoration: none;
}
.derechos_reser{
    background-color: #3A98B9;
    padding-top: 5px;
    padding-bottom: 5px;
}

